<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRqGkuvT8wGfQ50sbIIFlGmhw7Y-sTNnw</string>
	<key>GCM_SENDER_ID</key>
	<string>999298463796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-7cc30</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-7cc30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999298463796:ios:e43c169f835137c5a5f261</string>
</dict>
</plist>